/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors
color: hsl(0, 0%, 100%)

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

@import "https://fonts.googleapis.com/css?family=Outfit:wght@400,700";
body {
  font-family: "Outfit";
  background-color: hsl(212, 45%, 89%);
}
h1 {
  font-size: 22px;
  margin: 20px;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.element {
  justify-content: center;
  text-align: center;
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.imgqr {
  border-radius: 10px;
}
